@import "tailwindcss";
body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition: none !important;
    }
}

button {
    cursor: pointer;
}
